<!DOCTYPE html>
<html lang="<%=navLang%>">
<head>
    <title>Disney Pins DataBase</title>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Haut de page -->
    <header>
        <%- include('../partials/header') %>
    </header>

    <!-- Contenue de la page -->
    <main>
        <!-- Description du site (En attendant le vrai contenue de la page) -->
        <div class="description-projet">
            <h1><%=lang.accueil.main.descriptionProjet.h1[navLang]%></h1>
            <p><%=lang.accueil.main.descriptionProjet.p[navLang]%></p>
        </div>
    </main>

    <!-- Pied de page -->
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>