<!DOCTYPE html>
<html lang="<%=navLang%>">
<head>
    <title><%=lang.logout.name[navLang]%> - Disney Pins DataBase</title>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/logout.css">
</head>
<body>
<!-- Haut de page -->
<header>
    <%- include('../partials/header') %>
</header>

<!-- Contenue de la page -->
<main>
    <!-- Bloc de déconnexion -->
    <div class="row justify-content-center block_center">
        <h1>Vous êtes bien déconnecté</h1>
    </div>
</main>

<!-- Pied de page -->
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>